<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <main id="login">
        <form method="post" action="/config" enctype="application/x-www-form-urlencoded">
            <h1>GRMI</h1>
            <h2>Configuration</h2>
            <div class="form-group">
                <div class="label"><label for="username">Username</label></div>
                <div class="input"><input id="username" name="username" required type="text"></div>
            </div>
            <div class="form-group">
                <div class="label"><label for="password">Password</label></div>
                <div class="input"><input id="password" name="password" required type="password"></div>
            </div>
            <div class="form-group">
                <div class="label"><label for="passwordConfirm">Password Confirm</label></div>
                <div class="input"><input id="passwordConfirm" name="passwordConfirm" required type="password"></div>
            </div>
            <div class="form-group">
                <div class="label"></div>
                <div class="input"><button type="submit">Login</button></div>
            </div>
            <% if (typeof(error) !== 'undefined') { %>
                <div class="form-group">
                    <p class="error"><%= error %></p>
                </div>
            <% } %>
        </form>
    </main>
</body>
</html>