<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <main id="login">
        <form>
            <h1>GRMI</h1>
            <h2>Configuration</h2>
        <p>
            Configuration created.
        </p>
        <p>
            <a href="/login">Login</a> to connect to the GRMI.
        </p>
        </form>
    </main>
</body>
</html>