html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

main#login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
}

main#login form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form .form-group {
    margin-bottom: 5px;
}