html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

.btn-primary {
    background-color: #007bff;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-success {
    background-color: #28a745;
}

.btn-warning {
    background-color: #ffc107;
}

.btn-info {
    background-color: #17a2b8;
}

.btn-light {
    background-color: #f8f9fa;
    color: #333;
}

.btn:hover {
    background-color: #555;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

nav .title {
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav a.current {
    font-weight: bold;
}

main#login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
}

form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form .form-group {
    margin-bottom: 5px;
}

form .form-group .error {
    border-left: 3px solid #dc3545;
    background-color: #f8d7da;
    color: #dc3545;
    padding: 5px 10px;
    margin: 5px 0;
    font-size: 0.8em;
}
form .form-group .success {
    border-left: 3px solid #28a745;
    background-color: #d4edda;
    color: #28a745;
    padding: 5px 10px;
    margin: 5px 0;
    font-size: 0.8em;
}

main#home {
    padding: 20px;
}

table.table-form {
    width: 100%;
    border-collapse: collapse;
}

table.table-form th, table.table-form td {
    border: 1px solid #ddd;
    padding: 5px;
}

table.table-form th {
    background-color: #f1f1f1;
    text-align: left;
}

table.table-form tr:nth-child(even) {
    background-color: #f9f9f9;
}

table.table-form tr:hover {
    background-color: #f1f1f1;
}

table.table-form td.text-center {
    text-align: center;
}

table.table-form td.text-right {
    text-align: right;
}

table.table-form td.text-left {
    text-align: left;
}
